@import url('primeicons/primeicons.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*So, this file isnt some tailwind thing. this is just the main CSS file that web projects
tend to have. The @tailwind-s above is just some tailwind imports into this main file.*/


:root {

    /*Define you private colors here. Doing so will allow you to reference them
    in other selectors here and in the tailwind config*/
    --ext-primary-1 : #9AD8C6;
    --ext-primary-2 : #53E3B9;
    --ext-warning-1   : #FFCFB6;
    --ext-warning-2   : #FFA576;
    --ext-error-1 : #F1ACB7;
    --ext-error-2 : #E86D81;

    --ext-link: #2BDBA8;
    --ext-hover: #BAE1D6;

    --ext-white     : #F4F4F5;
    --ext-gray-1    : #D3D4D7;
    --ext-gray-2    : #7A7F86;
    --ext-gray-3    : #222A35;

    /*V PRIMEVUE V*/
    --primary-50: 236 253 245;
    --primary-100: 209 250 229;
    --primary-200: 167 243 208;
    --primary-300: 110 231 183;
    --primary-400: 52 211 153;
    --primary-500: 16 185 129;
    --primary-600: 5 150 105;
    --primary-700: 4 120 87;
    --primary-800: 6 95 70;
    --primary-900: 4 78 56;
    --primary-950: 2 44 34;
    --surface-0: 255 255 255;
    --surface-50: 250 250 250;
    --surface-100: 244 244 245;
    --surface-200: 228 228 231;
    --surface-300: 212 212 216;
    --surface-400: 161 161 170;
    --surface-500: 113 113 122;
    --surface-600: 82 82 91;
    --surface-700: 63 63 70;
    --surface-800: 39 39 42;
    --surface-900: 24 24 27;
    --surface-950: 9 9 11;

    --primary: var(--primary-500);
    --primary-inverse: var(--surface-0);
    --primary-hover: var(--primary-600);
    --primary-active-color: var(--primary-600);

    --primary-highlight-opacity: 0.1;
    --primary-highlight-inverse: var(--primary-700);
    --primary-highlight-hover-opacity: 0.2;
    /*^ PRIMEVUE ^*/
}
/*V PRIMEVUE V*/
.dark{
    --primary: var(--primary-400);
    --primary-inverse: var(--surface-900);
    --primary-hover: var(--primary-300);
    --primary-active-color: var(--primary-300);

    --primary-highlight-opacity: 0.2;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.3;
}
.customized-primary {
    &:not(.dark){
        --primary: var(--primary-950);
        --primary-inverse: var(--surface-0);
        --primary-hover: var(--primary-800);
        --primary-active-color: var(--primary-900);

        --primary-highlight-opacity: 1;
        --primary-highlight-inverse: var(--surface-0);
        --primary-highlight-hover-opacity: 0.8;
    }
    &.dark{
        --primary: var(--primary-50);
        --primary-inverse: var(--surface-950);
        --primary-hover: var(--primary-100);
        --primary-active-color: var(--primary-100);

        --primary-highlight-opacity: 0.1;
        --primary-highlight-inverse: var(--surface-0);
        --primary-highlight-hover-opacity: 0.2;

    }
}
/*^ PRIMEVUE ^*/



@layer base {
    body {
        color: var(--ext-gray-3);
        background-color: var(--ext-white);
    }

}

@layer components {
    button, input {
        background-color: var(--ext-primary-1);
        color: var(--ext-gray-3)
    }
    button:hover {
        background-color: var(--ext-hover);
    }

    /*Button customization thanks to https://moderncss.dev/pure-css-custom-styled-radio-buttons/*/
    input[type="radio"] {
        appearance: none;
    
        background-color: var(--ext-white);
        margin: 0;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid var(--ext-primary-1);
        border-radius: 50%;

        display: grid;
        place-content: center;
    }
    /*The sticky has z-index:10 because the circle would cover it otherwise. Wierd.*/
    input[type="radio"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background-color: var(--ext-primary-2);
    }
    input[type="radio"]:checked::before {
        transform: scale(1);
    }
}